body {
    background-color: #edf2f5;
    overflow: hidden;
}
#formBody {
    position:absolute;
    width:50%;
    height:100%;
    top:0;
    left:0;
}
#circleBody {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
}

#circleshape1 {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    background-color: #bd3dae;
    z-index: 0;
    border-radius: 100%;
    opacity: 0.2;
}

#circleshape2 {
    position: absolute;
    width: 150%;
    height: 150%;
    top: -25%;
    background-color: #bd3dae;
    z-index: 1;
    border-radius: 100%;
    left: 1.6%;
    box-shadow: 0 0 80px #8f6a8a;
}

#formHolder{
    width:400px;
    height:500px;
    border:0px solid #333;
    margin:0px auto;
    margin-top:70px;

}
#circleInfoHolder {
    width: 400px;
    height: 280px;
    border: 1px solid #333;
    margin: 0px auto;
    margin-top: 170px;
    position:relative;
    z-index:2;
}

#formTopHalf {
    width: 100%;
    height: 250px;
    border: 1px solid #333;
}
#formBottomHalf {
    width: 100%;
    height: 250px;
    border: 0px solid #333;
}

.checkBox {
    margin-top: 5px;
    display: inline-block;
}

.remember_me {
    color: #445a92;
    margin-right: 155px;
}

#remember_me {
    color: #445a92;
}

.login {
    text-align: center;
    margin-top: 30px;
}

.login_link {
    background-color: #b17fd0;
    text-decoration: none;
    color: #fff;
    padding: 10px 175px 10px 175px;
    border-radius: 50px;
}

.connect {
    text-align: center;
    color: #445a92;
    margin-top: 40px;
}

.icons {
    text-align: center;
}

.account {
    text-align: center;
    color: #ababab;
}

#connect {
    color: #445a92;
    display: inline-block;
}



